// Copyright 2021 Manna Harbour
// https://github.com/manna-harbour/miryoku

//#define MIRYOKU_KLUDGE_THUMBCOMBOS

#define MIRYOKU_ALPHAS_QWERTY

#include "../miryoku/custom_config.h"
//#include "../miryoku/mapping/36/minidox.h"
#include "../miryoku/mapping/42/corne.h"
#include "../miryoku/miryoku.dtsi"
